@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-black;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-4xl;
  }
}

* {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Rubik Mono One", monospace;
}

h2 {
  font-family: "Rubik Mono One", monospace;
}
